.button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #1b0d83;
  border: 1px solid #1b0d83;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.button:hover {
  background-color: #44399a;
  border-color: #44399a;
}

.button:focus {
  outline: none;
}
