export const CURRENT_API_URL = "CURRENT_API_URL";
export const DEFAULT_API_URL_SERVER = "DEFAULT_API_URL_SERVER";
export const DEFAULT_API_URL_DEV = "DEFAULT_API_URL_DEV";
export const DEFAULT_API_URL_MOCK = "DEFAULT_API_URL_MOCK";
